<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand"routerLink="/home" routerLinkActive="activeStyle">HomeDepot</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/product" routerLinkActive="activeStyle">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cart" routerLinkActive="activeStyle">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contacts" routerLinkActive="activeStyle">Contacts</a>
          </li>   
        </ul>
        
        <form class="d-flex">
          <a class="nav-link" routerLink="/login" routerLinkActive="activeStyle">LogOut</a>
          <a class="nav-link" routerLink="/useri" routerLinkActive="activeStyle"><img src="https://i.imgur.com/64qm3AL.png"></a>
        </form>
      </div>
    </div>
  </nav>