
<img src="https://t4.ftcdn.net/jpg/02/99/40/69/360_F_299406904_AucZS0WAB6Bvg8zT2lsuq703KxeuXSNX.jpg" style="width: 100%; height: 100vh;">

<div class="login-box">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  <h1>Login</h1>
  <div class="textbox">
    <i class="fas fa-user"></i>
    <input type="email" name="email" class="form-control" placeholder="Email"  ngModel/>
  </div>

  <div class="textbox">
    <i class="fas fa-lock"></i>
    <input type="password" name="password" class="form-control" placeholder="Password"  ngModel/>
  </div>

  <input type="submit" class="btn" value="Sign in">
  </form>
</div> -->


<!--------------------------------------------------------------------------------------------------->




  <!-- <div class="center">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <h1>Login</h1>
   
      <div class="txt_field">
        <input type="email" name="email" class="form-control" placeholder="Email"  ngModel/>
        <span></span>
        <label>Username</label>
      </div>
      <div class="txt_field">
        <input type="password" name="password" class="form-control" placeholder="Password"  ngModel/>
        <span></span>
        <label>Password</label>
      </div>
      <div class="pass">Forgot Password?</div>
      <input  type="submit" value="Login">
      <div class="signup_link">
        Not a member? <a href="#">Signup</a>
        
      </div>
    </form>
  </div>
 -->
