<app-navbar></app-navbar>
<div id="id1" class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="card">
       <div class="m-b-25">  <img src="https://freesvg.org/img/Faceless-Male-Avatar-In-Suit.png" alt="Avatar" style="height:300px;">
            <div class="container">
                <h4 class="f-w-600">{{username}}</h4>
                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information:</h6>
                        <p class="m-b-10 f-w-600">Email:</p>
                           <p class="text-muted f-w-400">{{email}}</p>
                         </div>
                      <div class="col-sm-6">
                   <p class="m-b-10 f-w-600">Address</p>
                <p class="text-muted f-w-400">{{address}}</p>
               </div>
             </div>
            </div>
           </div>
        </div>
        <app-footer></app-footer>
           

